body {
  background-color: peachpuff;
}

h1 {
  background-color: rgb(235, 222, 255);
  color: hsl(264°, 100%, 94%);
  padding: 40px;
  text-align: center;
  color:#a63367;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
  background-color: rgb(235, 222, 255) ;
  text-align: left;
  color:#a63367;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15;
}
