/*
*created by: sophie nguyen
*sept 20 2022
*/
body {
  background-color: peachpuff;
}

h1 {
  background-color: rgb(255, 224, 234);
  color: darkgoldenrod;
  padding: 40px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  background-color: rgb(255, 224, 231);
  text-align: left;
  color: #a63367;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15;
}
